<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="/layout/main::head"></head>
<body>
<nav th:insert="/layout/main::nav"></nav>
<div class="container m-auto">
    <h1 th:text="${description}"></h1>
    <ul class="list-group">
        <li class="list-group-item" th:each="document : ${documents}">
            <a th:href="@{/files/download/{name}(name = ${document.getOriginalFilename()})}"
               th:text="${document.getVisibleName()}">aaaa</a>
        </li>
    </ul>
    </ul>
</div>
</body>
<div th:insert="/layout/main::scripts"></div>
</html>