<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="main::head"></head>
<body>
<nav th:insert="main::nav"></nav>
<div class="container mt-4">
    <div class="container">
        <h1>Lista produktów</h1>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action"
               th:each="product : ${products}"
               th:href="@{/products/{id} (id = ${product.getId()})}"
               th:text="${product.getName()}"></a>
        </div>
    </div>
</div>
<div th:insert="main::scripts">
</div>
</body>
</html>