<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="main::head"></head>
<body>
<nav th:insert="main::nav"></nav>
<div class="container mt-4">
    <div class="container">
        <h1>Lista produktów</h1>
        <div class="list-group">
            <div class="row" th:each="product : ${products}">
                <div class="col-6">
                <a th:href="@{/products/{id} (id = ${product.getId()})}"
                   th:text="${product.getName()}"></a>
                </div>
                <div class="col">
                    <a class="text-right" th:href="@{/products/add/{id} (id= ${product.getId()})}"><i class="far fa-plus-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="main::scripts">
</div>
</body>
</html>