<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="main::head"></head>
<body>
<nav th:insert="main::nav"></nav>
<div class="container mt-4">
    <div class="col-6 m-auto">
        <h3>Zmień dane produktu:</h3>
        <!--/*@thymesVar id="product" type="pl.recordit.deteer.entity.Product"*/-->
        <!--/*@thymesVar id="properties" type="pl.recordit.deteer.entity.ProductProperties"*/-->
        <form method="post" th:action="@{/products/update/{id}(id=${product.getId()})}" id="product-form"
              th:object="${product}"></form>
        <form method="get" th:action="@{/files/upload/manual/{id}(id=${product.getId()})}" id="manual-form"
              th:object="${product}"></form>
        <input type="hidden" th:value="${product.getId()}" name="id" form="product-form">
        <input type="hidden" th:value="${product.getId()}" name="id" form="manual-form">
        <div class="form-group">
            <label for="product-created">Data utworzenia:</label>
            <input class="form-control" th:value="${product.getPublished()}" readonly type="datetime-local"
                   name="created" id="product-created" form="product-form"/>
        </div>
        <div class="form-group">
            <label for="user">Użytkownik:</label>
            <input class="form-control" readonly type="text"
                   th:value="${product.getPublisher() != null ? product.getPublisher().getEmail():'BRAK'}"
                   name="user" id="user" form="product-form"/>
        </div>
        <div class="form-group">
            <label for="product-name">Nazwa:</label>
            <input class="form-control" type="text" th:value="${product.getName()}" name="name" id="product-name"
                   form="product-form"/>
        </div>
        <div class="form-group">
            <label for="json">Właściwości:</label>
            <textarea class="form-control" name="json" th:text="${product.getJson()}" id="json" form="product-form">
                </textarea>
        </div>
        <div class="form-group">
            <label for="manual">DTR</label>
            <input readonly type="text" class="form-control"
                   th:value="${product.getOperatingManual() != null ? product.getOperatingManual().getOriginalFilename() :'BRAK'}"
                   id="manual"/>
            <button class="form-control btn-primary" type="submit" form="manual-form">Wczytaj nowy</button>
        </div>
        <div class="form-group">
            <input class="form-control btn-primary" type="submit" value="Zapisz" form="product-form"/>
        </div>
    </div>
</div>
<div th:insert="main::scripts"></div>
</body>
</html>