<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="main::head">
<body>
<nav th:insert="main::nav"></nav>
<div class="container">
    <h2 class="warning">Nie można zarejestrować konta</h2>
    <p>Nie możesz zarejestrować konta za pomoca adresu: <span th:text="${email}"></span>.
        Już istnieje konto powiązane z tym adresem email. Możesz zarejestrować konto z innym adresem email.</p>
    <a href="/register"> <button class="btn btn-primary" type="button">Do rejestracji</button></a>
</div>
<div th:insert="main::scripts"></div>
</body>
</html>