<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="main::head">
<body>
<nav th:insert="main::nav"></nav>
<div class="h-100 row align-items-center">
    <div class="col-4" style="max-width: 400px; margin: 0px auto">
        <h1>Rejestrowanie</h1>
        <form method="post" th:action="@{/register}" id="registerForm">
            <div class="form-group">
                <label for="email">Adres email użytkownika:</label>
                <input class="form-control"
                       type="email"
                       name="email"
                       id="email"
                       required
                />
            </div>
            <div class="form-group">
                <label for="password">Hasło:</label>
                <input class="form-control" type="password"
                       name="password"
                       id="password"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-b^A-Z^0-9]).{8,}"
                       title="Hasło musi zawierać co najmniej jedną cyfrę, jedną małą i dużą literę, jeden znak specjalny oraz mieć długość co najmniej ośmiu znaków"
                       onchange="checkPasswords()"
                       required
                />
            </div>
            <div class="form-group">
                <label for="repeated-password">Powtórz hasło:</label>
                <input class="form-control"
                       type="password"
                       name="repeated-password"
                       id="repeated-password"
                       required
                       onkeyup="checkPasswords()"/>
            </div>
            <div class="form-group">
                <input class="form-control btn-primary" type="submit" value="Zarejestruj"/>
            </div>
        </form>
    </div>
</div>
<div th:insert="main::scripts"></div>
<script>
    function checkPasswords(){
        const password = document.getElementById("password");
        const repeatedPassword = document.getElementById("repeated-password");
        if (password.value !== repeatedPassword.value){
            password.setCustomValidity("Oba hasła muszą być identyczne!");
        } else {
            password.setCustomValidity("");
        }
    }
</script>
</body>
</html>